.work-title {
	color: #60646B;
	text-align: center;
	font-size: 24px;
	font-weight: 800;
	letter-spacing: 2px;
	line-height: 0.5;
	margin-top: 30px;
}
.work-intro {
	text-align: center;
	font-size: 14px;
	opacity: 0.8;
	line-height: 0.1;
	letter-spacing: 2px;
}
.content-wrap hr {
	width: 110px;
	border: 1px solid #60646B;
}
.works-detail-container {
	margin: 40px 25px;
	padding: 50px;
	background: #FFF;
    border-radius: 10px;
    box-shadow: 3px 5px 10px 0 rgba(0,0,0,0.03);
	letter-spacing: 2px;
}
.project-intro-content {
	text-align: center;
	margin-top: 20px;
}
.project-intro-content img {
	vertical-align: baseline;
	margin: 0 20px;
}
.project-detail-content {
	padding-top: 20px;
	color: #9C95A4;
}
.project-detail-content h1 {
	padding-top: 10px;
	font-size: 18px;
	text-align: center;
}
.project-detail-content p {
	padding: 0 30px;
	font-size: 12px;
	opacity: 0.6;
	line-height: 2.5;
}
.project-intro {
	text-align: left!important;
}
.img-screen {
	flex-basis: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 30px;
    text-align:  center;
}
.img-screen img {
    height: 80%;
    object-fit: cover;
}